/* 
Used for header 
*/

body, button, span, header {
  font-family: 'Montserrat', sans-serif;
  font-size: 20px;
  font-weight: bold;
  color: #000000;
}

.site-header {
  display: grid;
  grid-template-columns: 1fr 350px 1fr;
  align-items: center;
  width: 100%;
  margin-bottom: 5px;
  margin-top: 5px;
}

.header-side {
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  height: 150px;
  background-color: white;
}

.header-row {
  flex: 1fr;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.header-middle {
  justify-content: center;
  align-items: center;
  
}

.header-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.header-logo {
  height: 100px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.header-image {
  height: 65px;
  display: block;
  margin-right: 8px;
  justify-content: center;
  align-items: center;
}

.header-image-blown {
  width: 90px;
  display: block;
  margin-right: 8px;
  justify-content: center;
  align-items: center;

}

.clickable {
  cursor: pointer;
}