
.main {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.page-title {
  font-size: 30px;
}

.main-content {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  box-sizing: border-box;
  flex: 1;
}

.date-select {
  display: flex;
  justify-content: center;
  align-items: center;
}

.date-arrow {
  height: 50px;
  padding-left: 30px;
  padding-right: 30px;
}

.prob-table {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%;
}

.prob-entry {
  width: 100%;
  height: 250px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 2px dotted black;
  margin-top: 2px;
  margin-bottom: 2px;
}

.prob-content {
  margin-top: 2px;
  margin-bottom: 2px;
  height: 200px;
  width: 90%;
  border: 2px dashed black;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.entry-team-logo {
  width: 140px;
}

.prob-info {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  align-items: center;
  background-color: lightgray;
}

.prob-percentage {
  width: 90%;
  padding-bottom: 6%;
  border: 2px solid black;
  margin-top: 10px;
  margin-bottom: 10px;
}