
.main {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.page-title {
  font-size: 30px;
}

.main-content {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  box-sizing: border-box;
  flex: 1;
}

.date-select {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90px;
}

.calendar-select {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.flatpickr-input {
  font-family: 'Montserrat', sans-serif;
  width: 80%;
  font-size: 14px;
  text-align: center;
}

.flatpickr-calendar {
  position: absolute;
  transform: translate(-25%, 0);
}

.date-label {
  justify-content: center;
  font-size: 18px;
  height: 30px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.date-arrow {
  height: 50px;
  padding-left: 30px;
  padding-right: 30px;
}

.prob-table {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 1000px;
}

.prob-entry {
  width: 100%;
  height: 360px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 2px;
  margin-bottom: 2px;
}

.prob-content {
  margin-top: 2px;
  margin-bottom: 2px;
  height: 250px;
  width: 900px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.prob-logo-container {
  height: 250px;
  width: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.entry-team-logo {
  height: 100%;
  width: 100%;
}

.prob-info-container {
  display: flex;
  justify-content: space-between;
  height: 100%;
  flex-grow: 1;
  align-items: center;
}

.prob-info-analysis {
  width: 155px;
}

.prob-percentage-container {
  position: relative;
  display: flex;
  width: 900px;
  height: 52px;
  background-color: rgb(78, 78, 78);
  border: 5px solid black;
  margin-top: 10px;
  margin-bottom: 10px;
  justify-content: space-between;
  align-items: center;
}

.prob-percentage-dash {
  position: absolute;
  top: 0;
  left: 50%;
  width: 2px;
  height: 100%;
  border-left: 2px dashed rgb(78, 78, 78); 
  opacity: .32;
  z-index: 1;
}

.percentage-left {
  display: flex;
  background-color: green;
  align-items: center;
  height: 42px;
  width: 600px;
  margin-left: 5px;
  padding-left: 8px;
}

.percentage-right {
  display: flex;
  background-color: green;
  align-items: center;
  justify-content: right;
  height: 42px;
  width: 200px;
  margin-right: 5px;
  padding-right: 8px;
}

.percentage-text {
  font-size: 30px;
  font-family:Arial, Helvetica, sans-serif;
  color: black;
  opacity: .7;
}

.percentage-spacer {
  height: 52px;
  background-color: rgb(78, 78, 78);
  width: 5.5px;
}

.prob-info {
  display: flex;
  flex-direction: column;
  height: 100%;
  margin-left: 10px;
  margin-right: 10px;
}

.prob-info-team {
  font-size: 32px;
}

.prob-odds-text {
  font-size: 25px;
  font-family:Arial, Helvetica, sans-serif;
}

.left {
  text-align: left;
}

.right {
  text-align: right;
}

.prob-top-spacer {
  height:50px;
}

.prob-mid-spacer {
  height: 80px;
}

.clickable {
  cursor: pointer;
}
